<div class="mx-auto" style="padding-top: 25px;">
  <div class="text-black">
    <h1 class="mb-3 text-center heading">Who Am I ?</h1>
    <h4 class="mb-3 text-center data">
      I am a third year undergraduate student in the department of <a href="https://www.cse.iitb.ac.in/"
        target="_blank">Computer Science and Engineering, IIT Bombay</a>.<br>
      From theoretical algorithmic research and machine learning to web development, I enjoy everything this field has
      to offer
    </h4>
    <h1 class="mb-3 text-center heading">What do I know?</h1>
    <h4 class="mb-3 text-center data">
      <ul style="list-style-type: none">
        <li>I've completed my marticulation from <a href="https://north.choithramschool.com/" target="_blank">Choithram School North Campus</a> with a CGPA of 10</li>
        <li>I've completed my intermediate studies from <a href="http://agrasenvidyalaya.edu.in/" target="_blank">Shri Agrasen Vidyalaya</a> with 98%</li>
        <li>I've completed 2 years of undergraduate study from IIT Bombay and currently maintain a CPI of 9.85</li>
        <li>I'm a winner of 2 international medals in physics olympiads, see <a href="https://ipho-unofficial.org/timeline/2019/individual" target="_blank">here</a> and <a href="https://apho2019.asi.edu.au/2019-awards-list-2/" target="_blank">here</a></li>
        <li>I have a decent understanding of Cryptography, Image Processing and Computer Graphics</li>
      </ul>
    </h4>
    <h1 class="mb-3 text-center heading">What interests me Currently ?</h1>
    <h4 class="mb-3 text-center data">
      <ul style="list-style-type: none">
        <li>Open problems in Computational Geometry : I'm a research intern under professor <a
            href="https://www.ibr.cs.tu-bs.de/users/fekete/" target="_blank"> S&aacute;ndor Fekete</a></li>
        <li>HTTP Load Balancer in C++ : I'm trying to develop this as a project under professor <a
            href="https://www.ieor.iitb.ac.in/mhanawal" target="_blank">Manjesh K. Hanawal</a></li>
      </ul>
    </h4>
    <h1 class="mb-3 text-center heading">Where to find me ?</h1>
    <h4 class="mb-3 text-center data">
      In a non pandemic infested world, my address would have been Hostel 9, IIT Bombay<br>
      Currently though, I reside in Indore and can be contacted online through the links below
    </h4>
  </div>
</div>