<div class="mx-auto" style="padding-top: 25px;">
    <div class="text-black">
      <h1 class="mb-3 text-center heading">I've been a TA for the following courses</h1>
      <h5 class="mb-3 text-center data">
          MA109 (2020-21) - Calculus : You can obtain the slides I used <a href="https://github.com/maverick6130/MA109">here</a><br><br>
          CS101 (offered under NPTEL, 2020-21) - An Introduction to Programming in C++<br>
      </h5>
      <h6 class="mb-3 text-center data" style="padding-top: 50px;">
        I plan to keep updating this section as I offer my services for more courses in the future.
      </h6>
    </div>
  </div>