<h1 class="db-3 text-center heading" style="padding-top: 25px;">Want to kill some time together?</h1>
<h6 class="db-3 text-center data">I did not want to include an interests / hobbies section on my webpage but I thought
    it was a good way to make some new friends in the pandemic struck world. So, here's what I kill time with :</h6>

<div class="container" style="padding-top: 25px;">
    <!-- Container -->
    <div class="row">

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">
                        <a href="https://open.spotify.com/user/31l6yp4hmiwfedeuzkexrsjhe6we?si=D7bC0j0WQCew-Y6j60_8yg"
                            target="_blank">Rock / Metal</a>
                    </h4>
                    <!--Text-->
                    <p class="card-text text-center">
                        Just like everyone, I love listening to music.
                        A few of my favourite bands are : Lynyrd Skynyrd, KISS, The Blue Van, Deep Purple, Derek and
                        the Dominoes,
                        and the rest you can find on my spotify profile. I also love music trivia and am
                        open to recommendations.
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">
                        <a href="https://www.instagram.com/__da22__/" target="_blank">
                            Photography
                        </a>
                    </h4>
                    <!--Text-->
                    <p class="card-text text-center">
                        As you would've noticed on the home page, I love to take pictures. I'm always looking out for a good shot
                        and love to postprocess what I capture in my free time. If you like my style / have suggestions / just want 
                        to chat about photography, connect with me on instagram.
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card">
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">
                        <a href="https://steamcommunity.com/id/mav6130/" target="_blank">
                            CS : GO
                        </a>
                    </h4>
                    <!--Text-->
                    <p class="card-text text-center">I've always known that the Counter Strike competitive FPS
                        series exists and is a big hit but
                        it wasn't till recently that I started spending time playing the game with a friend. I have
                        to say, it has been like a toxic relationship that I keep coming back to, but I love it. If
                        you want to
                        join me, add me on steam!</p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">
                        <a href="https://codeforces.com/profile/maverick6130" target="_blank">Competitive
                            Programming</a>
                    </h4>
                    <!--Text-->
                    <p class="card-text text-center">
                        I like to kill time by solving tricky problems. I solve most of the problems offline with
                        unlimited time just because
                        I hate the competitive in the competitive programming (:. If you want to discuss problems, I'm
                        always available.
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                        Sports
                        </a>
                    </h4>
                    <!--Text-->
                    <p class="card-text text-center">
                        In a hypothetical scenario where people could actually come in physical contact, I would've
                        enjoyed playing Tennis, Football and Basketball.
                        This one ain't a hyperlink, <em>tricked ya!</em>.
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <!--Card-->
            <div class="card">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title text-center">
                        <a href="https://www.netflix.com/" target="_blank">
                            Netflix and Chill 
                        </a>
                    </h4>
                    <!--Text-->
                    <p class="card-text text-center">
                        Who doesn't like to Netflix and chill in their free time? I'm no different.
                        I enjoy pretty much anything there is to be offered (:<br>
                        Some of my absolute favourites are LoTR, Star Wars, The Imitation Game, Breaking Bad and Bojack Horseman.
                        Just like music, I love trivia and am open to recommendations.
                    </p>
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!-- Column -->
    </div>
    <!-- Container -->
</div>