<div class="content">
<header>
  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand heading" routerLink="/"><i class="fas fa-home"></i> Dhruv</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about"><i class="fas fa-portrait"></i> About</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/projects"><i class="fas fa-project-diagram"></i> Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/teachings"><i class="fas fa-chalkboard-teacher"></i> Teachings</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" mdbWavesEffect href="../assets/190050034 .pdf" target="_blank"><i class="fas fa-file"></i> Resume</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/interests"><i class="far fa-thumbs-up"></i> Interests</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
</header>

<router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/dhruv-arora-0931371ba/" role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/maverick6130" role="button"
        ><i class="fab fa-github"></i
      ></a>

      <!-- Spotify -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:daror6130@gmail.com" role="button"
        ><i class="fab fa-google  "></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/__da22__/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
</footer>